.productListContainer {
  padding: 3.125rem 6.25rem;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}

.productListTexts {
  width: 65%;
}

.productListTitle {
  font-size: 3.125rem;
  font-weight: 600;
}

.productListDescription {
  margin: 1.25rem 0;
}

.productList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}